.App {
  font-family: 'Franklin Gothic Medium';
  background-color: rgb(26, 24, 24);
  color: whitesmoke;
}
.main{
  text-align: center;
}

.cr7 {
  object-fit: cover;
  width: 450px;
  height:750px;
  border-radius: 20px;
}

button{
  height: auto;
  width: 25%;
  border-radius: 50px;
  
}